.arkanoid__board {
    position: relative;
    background-color: rgb(245, 245, 245);
    border: 1px solid silver;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.arkanoid__ball {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.arkanoid__block {
    box-sizing: border-box;
    background: orange;
    margin: 0;
    border: 1px solid black;
}