:root {
    --button-width: 4rem;
}

.mediaplayer__window {
    font-family: sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: whitesmoke;
    border: 1px solid silver;
}

.mediaplayer__title {
    padding: .25rem;
    border-bottom: 1px solid silver;
    font-size: .75rem;
    background-color: grey;
    color: white;
}

.mediaplayer__controlpad {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: .5rem;
}

.controlpad__button {
    width: var(--button-width);
    cursor: pointer;
}

.controlpad__button > span {
    display: block;
    text-align: center;
    font-size: calc(var(--button-width) * .6);
    color: grey;
    user-select: none;
}

.controlpad__button--play {
    order: 2;
}
.controlpad__button--stop {
    order: 3;
}
.controlpad__button--skip-next {
    order: 4;
}
.controlpad__button--skip-previous {
    order: 1;
}

.controlpad__button:hover > span {
    color: silver;
}

.controlpad__button:active > span {
    color: orange;
}

.playlist {
    background-color: whitesmoke;
    border-top: 1px solid silver;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.playlist__title {
    color: grey;
    margin: 0;
    padding: 1rem .5rem;
    border-top: 1px solid silver;
}

.playlist__item {
    margin: 0;
    padding: .5rem;
    color: grey;
}
